.box {
  width: 30rem;
  height: 15rem;

  padding: 2rem;

  overflow-y: auto;
  overflow-x: hidden;

  background: white;
  border-radius: 2rem;

  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(55, 55, 55, 1);
  }
}
