.box {
  height: 10rem;

  padding: 2rem {
    bottom: 5rem;
  };

  overflow-y: auto;
  overflow-x: hidden;

  background: white;
  border-radius: 2rem;

  &::-webkit-scrollbar {
    width: 0.2rem;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(55, 55, 55, 1);
  }
}
