main {
  height: 100vh;
  width: 100vw;

  overflow-y: auto;

  h1 {
    margin-top: 5rem;
    margin-bottom: 8rem;

    padding: 0 2rem;

    font-weight: bolder;
    font-style: italic;
    font-size: 3.5rem;

    text-align: center;

    filter: drop-shadow(-2px 4px 0px gray);
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);

    @media(max-width: 658px) {
      margin-top: 1.5rem;
      margin-bottom: 4rem;
    }

    @media(max-width: 380px) {
      font-size: 3rem;
    }
  }

  > section:first-of-type {
    min-height: 92vh !important;
  }

  > section:not(:first-of-type) {
    width: 55vw;
    margin: auto {
      bottom: 8rem;
    };

    @media(max-width: 535px) {
      width: 99vw;
    }

    h2 {
      font-size: 2.9rem;

      margin: 0 {
        bottom: 2rem;
      };

      filter: drop-shadow(-2px 4px 0px gray);
    }

    article {
      p {
        text-align: justify;
      }

      img {
        display: block;
        margin: auto;
      }

      ul li img {
        max-width: 300px;
        margin: 0;
      }
    }
  }
}

.image-pair {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;

  img {
    height: 100%;
  }

  @media(max-width: 535px) {
    flex-direction: column;
  }
}
