@import '~react-toastify/dist/ReactToastify.css';

* {
  font-family: "Montserrat", "Times New Roman", serif;
}

body {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  overflow: hidden;
  background: radial-gradient(lightgray, white);
}

:root {
  --color-gray: #bababa;
  --color-blue: #2eadff;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: bolder;
  font-style: italic;
}
